<h1>Song Details</h1>
<p><%= @a.title %></p>
<p><%= @a.artist %></p>
<img src="<%= @a.url %>">
<p><%= @a.note %></p>

<%= link_to "Edit", "/songs/#{@a.id}/edit" %> 

<br>

<%= link_to "Home", "/songs" %>











